/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   PokemonCard.css                                    :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: hdeniz <Discord:@teomandeniz>              +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/07/22 12:48:13 by hdeniz            #+#    #+#             */
/*   Updated: 2024/07/22 12:51:01 by hdeniz           ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.pokemon-card
{
	BACKGROUND-COLOR: WHITE;
	WIDTH: 300PX;
	HEIGHT: 400PX;
	MARGIN: 0 AUTO;
	POSITION: RELATIVE;
	BORDER-RADIUS: 20PX;
	OVERFLOW: HIDDEN;
	DISPLAY: FLEX;
	JUSTIFY-CONTENT: CENTER;
	ALIGN-ITEMS: CENTER;
}

.pokemon-card-circle
{
	POSITION: ABSOLUTE;
	WIDTH: 100%;
	HEIGHT: 75%;
	BORDER-RADIUS: 50%;
	TOP: -35%;
}

.pokemon-hp-label
{
	POSITION: ABSOLUTE;
	TOP: 25PX;
	LEFT: 75%;
	TRANSFORM: TRANSLATE(-50%, -50%);
	BACKGROUND-COLOR: WHITE;
	COLOR: RGB(75, 75, 75);
	PADDING: 5PX 15PX;
	BORDER-RADIUS: 20PX;
	FONT-FAMILY: 'calibri', sans-serif;
	FONT-WEIGHT: BOLD;
	FONT-SIZE: 16PX;
	TEXT-TRANSFORM: UPPERCASE;
	DISPLAY: FLEX;
	FLEX-DIRECTION: LINE;
	ALIGN-ITEMS: CENTER;
	gap: 5PX;
}

.pokemon-hp-label-text
{
	FONT-FAMILY: 'CALIBRI', SANS-SERIF;
	COLOR: RGB(100, 100, 100);
}

.pokemon-hp-value
{
	FONT-FAMILY: 'CALIBRI', SANS-SERIF;
	FONT-SIZE: 18PX;
}

.pokemon-type-label
{
	POSITION: ABSOLUTE;
	BOTTOM: 90PX;
	LEFT: 50%;
	TRANSFORM: TRANSLATE(-50%, -50%);
	COLOR: WHITE;
	PADDING: 2.5PX 10PX;
	BORDER-RADIUS: 10PX;
	FONT-FAMILY: 'calibri', sans-serif;
	FONT-WEIGHT: BOLD;
	FONT-SIZE: 14PX;
	TEXT-TRANSFORM: UPPERCASE;
}

.pokemon-name
{
	POSITION: ABSOLUTE;
	BOTTOM: 120PX;
	LEFT: 50%;
	TRANSFORM: TRANSLATE(-50%, -50%);
	COLOR: RGB(75, 75, 75);
	FONT-FAMILY: 'calibri', sans-serif;
	FONT-WEIGHT: BOLD;
	FONT-SIZE: 24PX;
	TEXT-TRANSFORM: CAPITALIZE;
}

.pokemon-image {
	position: absolute;
	width: 200px;
	top: 50px;
}

.pokemon-stats
{
	DISPLAY: GRID;
	GRID-TEMPLATE-COLUMNS: REPEAT(3, 1FR);
	gap: 10PX;
	PADDING: 25PX;
	POSITION: ABSOLUTE;
	BOTTOM: 0PX;
	WIDTH: 100%;
}

.pokemon-stat
{
	DISPLAY: FLEX;
	FLEX-DIRECTION: COLUMN;
	ALIGN-ITEMS: CENTER;
	JUSTIFY-CONTENT: CENTER;
}

.pokemon-stat-value
{
	FONT-FAMILY: 'calibri', sans-serif;
	FONT-SIZE: 20PX;
	FONT-WEIGHT: BOLD;
}

.pokemon-stat-name
{
	FONT-FAMILY: 'calibri', sans-serif;
	FONT-SIZE: 16PX;
	FONT-WEIGHT: BOLD;
	COLOR: RGB(100, 100, 100);
}
